body{
margin:0;
font-family:cursive;
background:url("assets/bg-image.jpg") center/cover fixed;
overflow:hidden;
color:black;
text-align:center;
}

.page{
display:none;
height:100vh;
width:100%;
flex-direction:column;
justify-content:center;
align-items:center;
padding:20px;
}

.page.active{
display:flex;
}

.gif{
width:250px;
margin:15px;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-top:20px;
}

.card{
background:#fff8;
padding:15px;
border-radius:15px;
cursor:pointer;
}

.scroll{
display:flex;
overflow-x:auto;
gap:15px;
padding:20px;
}

.scroll img{
width:200px;
}

.heartBtn{
width:120px;
position:fixed;
bottom:30px;
left:50%;
transform:translateX(-50%);
cursor:pointer;
}

.song{
margin:15px;
}

.song img{
width:220px;
}

.song button{
font-size:25px;
margin-top:5px;
}

.letter{
width:200px;
cursor:pointer;
}

#heartRain span{
position:fixed;
top:-50px;
animation:fall 6s linear infinite;
}

@keyframes fall{
to{transform:translateY(110vh);}
}
