body{
margin:0;
height:100vh;
font-family:'Patrick Hand',cursive;
background:url("assets/bg-image.jpg") center/cover fixed;
color:black;
}

.page{
display:none;
height:100vh;
width:100vw;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.page.active{
display:flex;
}

.gif{
width:80%;
max-width:320px;
}



