*{
box-sizing:border-box;
font-family:'Patrick Hand', cursive;
}

body{
margin:0;
background:url("assets/bg-image.jpg") center/cover fixed;
overflow:hidden;
}

/* PAGE */
.page{
display:none;
height:100vh;
width:100vw;
text-align:center;

justify-content:center;
align-items:center;
flex-direction:column;
padding:20px;
}

.page.active{
display:flex;
}

/* GIF */
.gif{
width:70%;
max-width:350px;
}

/* MENU */
.menuText{
font-size:20px;
margin-top:10px;
}

.menuGrid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-top:25px;
width:80%;
max-width:350px;
}

.menuBtn{
padding:18px;
border:none;
border-radius:25px;
font-size:18px;
cursor:pointer;
}

/* COLORS */
.pink{ background:#ffd6e8; }
.purple{ background:#e6d8ff; }
.peach{ background:#ffe3c4; }
.mint{ background:#d7f7ec; }

/* SCROLL */
.scroll{
display:flex;
overflow-x:auto;
gap:15px;
width:90%;
}

.scroll img{
height:220px;
}

/* GAME GRID */
.gameGrid{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
margin-top:20px;
}

.gameGrid button{
padding:15px;
border:none;
border-radius:20px;
background:#fff;
}

/* SONG */
.songCard{
margin:15px;
position:relative;
}

.songCard img{
width:260px;
}

.songCard button{
position:absolute;
bottom:25px;
left:50%;
transform:translateX(-50%);
border:none;
font-size:22px;
background:white;
border-radius:50%;
width:45px;
height:45px;
}

/* PROMISE */
.quoteCard{
background:white;
padding:18px;
border-radius:18px;
min-width:200px;
}

/* BACK */
.backBtn{
margin-top:25px;
padding:10px 25px;
border:none;
border-radius:20px;
background:white;
}

/* HEART RAIN */
#heartRain span{
position:fixed;
top:-20px;
animation:fall 6s linear;
}

@keyframes fall{
to{transform:translateY(110vh)}
}
