*{
  box-sizing:border-box;
  font-family:'Patrick Hand', cursive;
}

body{
  margin:0;
  background:url("assets/bg-image.jpg") center/cover fixed;
  overflow:hidden;
}

/* PAGE SYSTEM */
.page{
  display:none;
  height:100vh;
  width:100vw;
  text-align:center;

  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.page.active{
  display:flex;
}

/* GIF */
.gif{
  width:70%;
  max-width:350px;
}

/* MENU TEXT */
.menu-text{
  font-size:20px;
  margin-top:10px;
}

/* MENU GRID */
.menu-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:18px;
  margin-top:30px;
  width:80%;
  max-width:350px;
}

/* PREMIUM BUTTONS */
.menu-btn{
  padding:18px;
  border:none;
  border-radius:25px;

  background:rgba(255,255,255,0.85);
  backdrop-filter:blur(6px);

  font-size:18px;
  cursor:pointer;
  transition:0.3s;
}

.menu-btn:hover{
  transform:scale(1.05);
  background:rgba(255,220,235,0.9);
}

/* HEART RAIN */
#heartRain span{
  position:fixed;
  top:-20px;
  animation:fall 6s linear;
}

@keyframes fall{
  to{transform:translateY(110vh)}
}




